@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-image: radial-gradient( circle 674px at 18.3% 77%,  rgba(139,186,244,1) 3.4%, rgba(15,51,92,1) 56.6% );
    background-attachment: fixed;
    
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400px;
    color: #ffffff;
    font-weight: 500;
}

#display{
    background-color: #5f9ea0;
    color: white;
    margin-bottom: 2px;
    width: 326px;
    border-radius: 4px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.buttons{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    border-radius: 4px;
    gap: 2px;
}

.button{
    background-color: rgb(88, 88, 88);
    color: white;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.15s background-color;
}

.button:hover{
    background-color: black;
}

#equal{
    background-color: cadetblue;
}


#equal:hover{
    background-color: rgb(52, 84, 85);
}